<div class="flex"><!--cards inicio-->
    
    <div class="flex"><!--card uploads inicio-->
        <div class="w-56 mx-auto bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
            <div class="flex justify-between">
                <div class="flex flex-col space-y-4">
                    <div>
                        <p class="text-base font-semibold text-gray-500 dark:text-gray-400 mb-8">Movimentação de arquivos</p>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Uploads</p>
                        <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white mt-4 mb-8">50</h5>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Downloads</p>
                        <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white mt-4">20</h5>
                    </div>
                </div>
            </div>
        </div>
            <div id="area-chart"></div>
    </div><!--card uploads fim-->

    <div class="flex flex-col">
        <div class="flex mb-4"> <!--row 1 inicio-->
            <!--card empresa-logada-inicio-->
            <div class="w-56 h-48 bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
                <div class="flex justify-between">
                <div>
                    <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Logado na empresa</p>
                    <img class="rounded-full w-24 h-24" src="assets/images/logoGmaisP.svg" alt="image description"> <!--foto da empresa-->
                    <p class="leading-none text-lg font-bold text-gray-900 dark:text-white">G + P Soluções</p> <!--nome da empresa-->
                </div>
                </div>
                <div id="area-chart"></div>
            </div>
            <!--card empresa-logada-fim-->

            <!--card usuarios-inicio-->
            <div class="w-56 h-48 bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
                <div class="flex justify-between">
                <div>
                    <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Usuários</p>
                    <div class="flex items-end">
                        <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white mt-8">15</h5>
                        <p class="text-base font-semibold text-gray-500 dark:text-gray-400">/22</p>
                    </div>
                </div>
                </div>
                <div id="area-chart"></div>
            </div>
            <!--card usuarios-fim-->

            <!--card projetos-inicio-->
            <div class="w-56 h-48 bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
                <div class="flex justify-between">
                <div>
                    <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Projetos</p>
                    <div class="flex items-end">
                        <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white mt-8">20</h5>
                    </div>
                </div>
                </div>
                <div id="area-chart"></div>
            </div>
            <!--card projetos-fim-->
        </div> <!--row 1 fim-->

        <div class="flex"> <!--row 2 inicio-->
            <!--card arquivos-inicio-->
            <div class="w-56 h-48 bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
                <div class="flex justify-between">
                <div>
                    <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Total de rquivos</p>
                    <div class="flex items-end">
                        <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white mt-8">1.500</h5>
                    </div>
                </div>
                </div>
                <div id="area-chart"></div>
            </div>
            <!--card arquivos-fim-->

            <!--card espaço-usado-inicio-->
            <div class="w-56 h-48 bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
                <div class="flex justify-between">
                <div>
                    <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Espaço usado</p>
                    <div class="flex items-end">
                        <p class="leading-none text-2xl font-bold text-gray-900 dark:text-white mt-8">250 MB/</p> <!--espaço usado-->
                        <p class="leading-none text-2xl font-bold text-gray-900 dark:text-white mt-8">1 TB</p> <!--espaço reservado-->
                    </div>
                </div>
                </div>
                <div id="area-chart"></div>
            </div>
            <!--card espaço-usado-fim-->

            <!--card acessos-inicio-->
            <div class="w-56 h-48 bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 p-4 md:p-6 ml-4">
                <div class="flex justify-between">
                <div>
                    <p class="text-base font-semibold text-gray-500 dark:text-gray-400">Acessos de hoje</p>
                    <div class="flex items-end">
                        <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white mt-8">12</h5>
                    </div>
                </div>
                </div>
                <div id="area-chart"></div>
            </div>
            <!--card acessos-fim-->
        </div> <!--row 2 fim-->
    </div>

</div><!--cards fim-->

  
